body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.border {
	border: 1px solid #e4e4e4;
	border-radius: 4px;
}

.grid {
	display: grid;
	grid-gap: 15px;
}

/* -------- Components ----------- */

.card-product {
	height: 148px;
	background-color: #e1e1e1;
}

.card-footer {
	padding: 12px;
}

.container-component {
	margin: 72px 10%;
}

@media only screen and (max-width: 768px) {
	.grid {
		display: flex;
		flex-direction: column;
	}
}

/* -------- Components ----------- */
